<!-- your html code here -->
<div class="row">
  <div class="col-8">
    <h2>The first Heading <span style="color: grey;">will catch your Eye</span></h2>
    <p>
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
      enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
      ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
      adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
      voluptatem.
    </p>
  </div>

  <div class="col-4">
    <figure class="figure">
      <img src="assets/img/1.jpg" class="figure-img img-fluid rounded-circle" alt="...">
      <figcaption class="figure-caption"></figcaption>
    </figure>
    
  </div>
</div>